.idea/
.vs/
.vscode/
/Assets/Arcane/UnitTestsPlayMode/Results/*
/Assets/Exports/
/Assets/Exports.meta
/Assets/IgnoredFolder/
/Assets/IgnoredFolder.meta
/Assets/Plugins/x86_64/SpacesCpp.dll
/Assets/Plugins/x86_64/dxvidenc.dll
/Assets/Plugins/x86_64/avcodec-60.dll
/Assets/Plugins/x86_64/avformat-60.dll
/Assets/Plugins/x86_64/avutil-58.dll
/Assets/Plugins/x86_64/swresample-4.dll
/Assets/Plugins/Editor.meta
/Assets/Plugins/Editor/JetBrains/
/Assets/Plugins/Editor/JetBrains.meta
/Assets/VRPanorama/Editor/Materials/
/Assets/VRPanorama/Editor/Materials.meta
/Assets/VRPanorama/Resources/Materials.meta
/Assets/VRPanorama/Resources/RTs/Materials/*.mat
build/
ClientViewerSettings.xml
commands.xml
commandsLastRead.xml
companionSettings.xml
configDebug.txt
cout.log
/Data/projectSettings.xml
/Data/Projects/ProjectsOrderSave.txt
/Data/Projects/ProjectSourceFileIndex.txt
/Data/publicAssetsGroupsList.txt
/Data/SpacesConfig.override.xml
/Data/SpacesConfig.override.xml~
/Data/Temp/*
designReload.xml
ExportedMaterials
ExportedScenes/
ExportedScenes.meta
InitTestScene*
LibArcane.log
/Library/
obj/
Packages.xml
SteamVR.csproj
SteamVR_Actions.csproj
SteamVR_Editor.csproj
SteamVR_Input_Editor.csproj
SteamVR_Windows_EditorHelper.csproj
/Temp/
Unity.Postprocessing.Editor.csproj
Unity.Postprocessing.Runtime.csproj
Unity.sln
Unity.userprefs
UnityPackageManager/
unityProject.vrmanifest
/UserSettings/
/UWP/
/VortekOcct.log
VORTEKSpaces.log
*.csproj
*.suo
*.swp
!/ffmpeg/**
